{% extends 'base.html.twig' %}

{% block title %}Hello SessionModuleController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>C:/Users/adelu/Documents/mesProjetsWeb/php/www/Symfony/Sf_Sessions/src/Controller/SessionModuleController.php</code></li>
        <li>Your template at <code>C:/Users/adelu/Documents/mesProjetsWeb/php/www/Symfony/Sf_Sessions/templates/session_module/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
