nav {
    display: flex;
    flex-direction: column;
    width: 250px;
    background-color: #e0e0e0;
    padding: 1em;
}

.app_title {
    display: flex;
    align-items: center;
    gap: 1em;
}

.app_logo {
    height: 2em;
}

.general {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.general_logo {
    height: 3em;
}

.formations, .stagiaires, .modules, .categories {
    display: flex;
    align-items: center;
    gap: 1em;
}


