{% extends 'base.html.twig' %}

{% block title %}Hello ModuleController!{% endblock %}

{% block body %}
<div class="tableau_module">
    <h1>Modules</h1>
    <button type="button">Add Module</button>
    <table class="table table-striped table-bordered">
        <thead class="table-secondary">
            <tr>
                <th>Module</th>
                <th>Durée (jours)</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for sessionModule in sessionsModules %}
                <tr>
                    <td>{{ sessionModule.module.name }}</td>
                    <td>{{ sessionModule.duration }}</td>
                    <td>
                        <a href="">
                            <button type="button">Edit</button>
                        </a>
                        <a href="">
                            <button type="button">Delete</button>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
